@import 'variables';

.order .hash {
    font-size: .8rem;
    color: $mainColor;
}

.modal-title {
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
}

.morado {
    background-color: #8759a4 !important;
    border: none !important;
}