@import "variables";

.vaccination .hash {
    font-size: 0.8rem;
    color: $mainColor;
}

.vaccination-box {
    background-color: white;
    border-radius: 4px;
}
.subtitle {
    font-weight: bold;
}

.message {
    border: solid 2px $mainColor;
    color: black;
    font-size: 0.75rem;
    padding: 0.4rem;
    border-radius: 8px;
}

.lista {
    text-align: left;
    font-size: .9rem;
}

.lista li {
    color: $mainColor;
}

.lista li > span {
    color: black;
}

.warn {
    color: grey;
    font-size: .8rem;
    text-align: justify;
}
