@import 'variables';
.card-timeline .card {
    background-color: $mainColor;
    box-shadow: 0 0 2px grey;
    margin: .4rem 0rem;
    color: white;
    /* padding: 1rem; */
    border-radius: 8px;
}

.card-timeline .card-title {
    text-align: center;
    color: white;
    font-weight: bold;
}
.card-timeline .card-body {
    padding: .8rem;
}

.card-timeline .card-body h5 {
    font-size: .8rem;
}

.card-timeline .card-body .hour {
    color: black; // #ffeb3b;
    font-size: 1rem;
}

.card-timeline .card-body .day {
    font-size: 1.2rem;
}

.card-timeline .card-body p {
    font-size: .7rem;
}

.card-timeline .card-link {
    color: white;
}

.card-timeline .card-text {
    height: auto;
}

.card-timeline .show-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-timeline .separator {
    border-top: 1px solid white;
}
