@import 'variables';

section {
    background-color: white;
    border-radius: 8px;
    margin: 1rem 0rem;
    padding: 1rem 0.4rem;
    box-shadow: 0 0 4px black;
    min-height: 25vh;
}

.warning-card {
    background-color: yellow;
    color: black;
}

section h3 {
    font-size: 1.4rem;
    font-weight: bold;
    padding: 4px;
    text-align: center;
}
.informationSection {
    min-height: 10vh;
}

.covid {
    background-image: linear-gradient($secondaryColor, $mainColor,  #770222,#5a1425, #770222,$mainColor, $secondaryColor);
    padding-top: .2rem;
    padding-bottom: 1rem;
}

.covid h2 {
    font-size: 1.7rem;
    color: $mainColor;
    font-weight: bold;
}

.covid-desktop {
    background-image: linear-gradient($secondaryColor, $mainColor,  #770222,#5a1425, #770222,$mainColor, $secondaryColor);
    padding: 1rem 1rem;
}

.covid-desktop h2 {
    font-size: 1.7rem;
    color: $mainColor;
    font-weight: bold;
}

.vaccination-section {
    background-image: linear-gradient($secondaryColor, $mainColor,  #770222,#5a1425, #770222,$mainColor, $secondaryColor);
    /* border-top: outset white 1px; */
    /*    padding-top: 1rem; */
    padding-bottom: 1rem;
}

.vaccination-section h2 {
    font-size: 1.7rem;
    color: white;
    font-weight: bold;
    padding-bottom: 1rem;
}

.srv {
    background-image: linear-gradient($secondaryColor, $mainColor,  #770222,#5a1425, #770222,$mainColor, $secondaryColor);
    /* border-top: outset $mainColor 1px; */
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.logo-rgua {
    height: 10vh;
}

.srv h2 {
    font-size: 1.7rem;
    color: white;
    font-weight: bold;
    padding-bottom: 1rem;
}

.comunity-section {
    background-image: linear-gradient($secondaryColor, $mainColor, #770222,#5a1425, #770222,$mainColor, $secondaryColor );
    /* border-top: outset white 1px; */
    /* padding-top: 1rem; */
    padding-bottom: 1rem;
}

.comunity-section h2 {
    font-size: 1.7rem;
    color: white;
    font-weight: bold;
    padding-bottom: 1rem;
}
