@import 'variables';

.suggestions .hash {
    font-size: .8rem;
    color: $mainColor;
}

.services-box {
    /*  height: 50vh; */
    /*  padding: 4px; */
    background-color: white;
    border-radius: 4px;
}
