@import 'variables';

.timeline-box {
    height: 60vh;
    /* padding: 0.2rem 0rem; */
}

.timeline-box-desktop {
    height: 75vh;
}

.timeline h4 {
    font-size: .8rem;
    color: $mainColor;
}

.news-container a {
    text-decoration: none;
}